In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Defensive Linemen Number of Pressures

In [2]:
pass_rush_summary = pd.read_csv('../data/pass_rush_summary.csv')

In [5]:
grouped_DL_pressures = pass_rush_summary.groupby("team_name").agg({
    "true_pass_set_total_pressures": "sum",
}).reset_index()

scaler = StandardScaler()
scaled_data = scaler.fit_transform(grouped_DL_pressures[['true_pass_set_total_pressures']])

grouped_DL_pressures_scaled = pd.DataFrame(
    scaled_data, 
    columns=["true_pass_set_total_pressures"]
)

grouped_DL_pressures_scaled["team_name"] = grouped_DL_pressures["team_name"]

grouped_DL_pressures_scaled = grouped_DL_pressures_scaled.sort_values(
    by="true_pass_set_total_pressures", ascending=False
)

In [6]:
grouped_DL_pressures_scaled

    true_pass_set_total_pressures team_name
25                       2.075930       PHI
10                       1.762012       DET
9                        1.665422       DEN
16                       1.496390        LA
15                       1.303210        KC
2                        0.844408       BLT
3                        0.506343       BUF
29                       0.506343        TB
26                       0.458048       PIT
31                       0.458048       WAS
27                       0.433900       SEA
20                       0.433900       MIN
7                        0.289015       CLV
12                       0.240720       HST
5                        0.119983       CHI
17                      -0.049050       LAC
19                      -0.049050       MIA
28                      -0.097345        SF
24                      -0.193935       NYJ
22                      -0.218082        NO
11                      -0.218082        GB
8                       -0.266377       DAL
0                       -0.266377       ARZ
18                      -0.749327        LV
14                      -0.845917       JAX
6                       -0.894212       CIN
23                      -1.087392       NYG
13                      -1.087392       IND
1                       -1.304719       ATL
4                       -1.642784       CAR
30                      -1.811816       TEN
21                      -1.811816        NE

# Cornerback Number of Targets

In [9]:
cb_summary = pd.read_csv('../data/defense_summary.csv')

In [11]:
from sklearn.preprocessing import StandardScaler

higher_is_better = [
    "catch_rate", "grades_defense", "grades_defense_penalty", 
    "grades_pass_rush_defense", "interceptions", "tackles", 
    "tackles_for_loss", "total_pressures"
]

lower_is_better = ["qb_rating_against", "declined_penalties", "targets"]

cb_metrics = higher_is_better + lower_is_better

grouped_cb = cb_summary.groupby("team_name")[cb_metrics].sum().reset_index()

numeric_columns = grouped_cb.select_dtypes(include=["number"]).columns

# Standardizing the numeric columns
scaler = StandardScaler()
scaled_data = scaler.fit_transform(grouped_cb[numeric_columns])

grouped_cb_scaled = pd.DataFrame(scaled_data, columns=numeric_columns)
grouped_cb_scaled["team_name"] = grouped_cb["team_name"]

# Reversing the direction for metrics where lower is better
for col in lower_is_better:
    grouped_cb_scaled[col] *= -1  

weights = {
    "catch_rate": 1.2,
    "grades_defense": 1.0,
    "grades_defense_penalty": 0.8,
    "grades_pass_rush_defense": 1.1,
    "interceptions": 1.3,
    "tackles": 1.0,
    "tackles_for_loss": 1.2,
    "total_pressures": 1.5,
    "qb_rating_against": 1.4,  
    "declined_penalties": 1.0,  
    "targets": 0.9  
}

grouped_cb_scaled["cb_safety_rating"] = sum(
    grouped_cb_scaled[col] * weight for col, weight in weights.items()
)

grouped_cb_scaled = grouped_cb_scaled.sort_values(by="cb_safety_rating", ascending=False)

grouped_cb_scaled = grouped_cb_scaled.reset_index(drop=True)

In [13]:
grouped_cb_scaled[['team_name', "targets"]].sort_values(by="targets", ascending=False)

   team_name   targets
21       TEN  1.435605
20       CHI  1.347124
4        NYG  1.347124
29        NE  1.294036
6        CLV  1.170162
14       CAR  1.152466
30       DAL  0.975504
19       NYJ  0.922415
22        SF  0.727757
24       SEA  0.710061
9        ARZ  0.656972
15       IND  0.603883
31        LV  0.444617
27       MIA  0.426921
17        NO  0.303048
23        GB -0.033180
26       JAX -0.050877
12       WAS -0.068573
18       CIN -0.068573
7        ATL -0.103965
16       PIT -0.334016
25        LA -0.422497
3        HST -0.510978
8        DEN -0.670244
13       LAC -0.794118
0        BUF -1.271915
10        KC -1.289612
28       BLT -1.325004
5        MIN -1.342700
1        DET -1.519662
11        TB -1.590447
2        PHI -2.121334